<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <link rel="stylesheet" href="../static/css/index.css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>crasy board</title>
    </head>
    <body>
        <div id="index">
            <div class="index-header">
                <div class="logo">
                    Crasy Board
                </div>
                <div class="logout">
                    <span class="user-info"> admin </span>
                    <el-button type="info" class="logout-botton" @click="logout">登出</el-button>
                </div>
            </div>
            <div class="index-main">
                <div class="index-left">
                    <el-menu default-active="1" class="index-left-menu"  @select="selectMenuHandler">
                        <el-menu-item index="1">
                            <i class="el-icon-view"></i>
                            <span slot="title">大屏</span>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <i class="el-icon-tickets"></i>
                            <span slot="title">CPU</span>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <i class="el-icon-tickets"></i>
                            <span slot="title">内存</span>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <i class="el-icon-tickets"></i>
                            <span slot="title">磁盘</span>
                        </el-menu-item>
                        <el-menu-item index="5">
                            <i class="el-icon-tickets"></i>
                            <span slot="title">网络</span>
                        </el-menu-item>
                    </el-menu>
                </div>
                <div class="index-right">
                    <div class="dashboard" v-if="dashBoardShow">
                        <el-card class="one-card dash-board-cpu-use">
                            <div class="card-title">
                                <span>磁盘使用情况</span>
                            </div>
                            <ve-pie :data="diskData" :settings="diskChartSettings"></ve-pie>
                        </el-card>
                        <el-card class="one-card dash-board-ram-use">
                            <div class="card-title">
                                <span>内存使用情况</span>
                            </div>
                            <ve-pie :data="ramData" :settings="ramChartSettings"></ve-pie>
                        </el-card>
                        <el-card class="one-card dash-board-storage-use">
                            <div class="card-title">
                                <span>CPU使用情况</span>
                            </div>
                            <ve-line :data="cpuData" :settings="cpuLineSettings"></ve-line>
                        </el-card>
                        <el-card class="one-card dash-board-net-use">
                            <div class="card-title">
                                <span>网络使用情况</span>
                            </div>
                            <ve-line :data="netData" :settings="netLineSettings"></ve-line>
                        </el-card>
                    </div>
                    <div class="cpuboard" v-if="cpuBoardShow">
                        <el-card class="one-card cpu-board-use-percent">
                            <div class="card-title">
                                <span>CPU 使用率</span>
                                <span class="detail-info-buttons">
                                    <el-button type="text" size="mini"  @click="showBigCpuPersent"  round>放大</el-button>
                                    <el-button type="text" size="mini" @click="showDetailCpuPercent" round>详细</el-button>
                                    <el-dialog title="CPU 使用率" :visible.sync="bigShowCpuPercent" class="big-board" width="90%" :before-close="closeBigCpuPersent">
                                        <ve-line :data="cpuBoardData.cpuPercentData" :settings="cpuBoardData.cpuPrecentSetting"></ve-line>
                                    </el-dialog>
                                    <el-dialog title="CPU 使用率详情" :visible.sync="detailShowCpuPercent" class="big-boadr" width="90%" :before-close="closeDetailCpuPercent">
                                        <ve-line :data="cpuBoardData.eveCpuPercentData" :settings="cpuBoardData.eveCpuPercentSetting"></ve-line>
                                    </el-dialog>
                                </span>
                            </div>
                            <ve-line :data="cpuBoardData.cpuPercentData" :settings="cpuBoardData.cpuPrecentSetting"></ve-line>
                        </el-card>
                        <el-card class="one-card cpu-board-freq">
                            <div class="card-title">
                                <span>CPU 频率</span>
                                <span class="detail-info-buttons">
                                    <el-button type="text" size="mini" @click="showBigCpuFreq" round>放大</el-button>
                                    <el-button type="text" size="mini" @click="showDetailCpuFreq" round>详细</el-button>
                                    <el-dialog title="CPU 频率" :visible.sync="bigShowCpuFreq" class="big-board" width="90%" :before-close="closeBigCpuFreq">
                                        <ve-line :data="cpuBoardData.cpuFreqData" :settings="cpuBoardData.cpuFreqSetting"></ve-line>
                                    </el-dialog>
                                    <el-dialog title="CPU 频率详情" :visible.sync="detailShowCpuFreq" class="big-board" width="90%" :before-close="closeDetailCpuFreq">
                                        <div class="cpu-freq-detail" v-for="(item, index) in cpuBoardData.eveCpuFreqData">
                                            <h2>第 {{index+1}} CPU</h2>
                                            <ve-line :data="cpuBoardData.eveCpuFreqData[index]" :settings="cpuBoardData.cpuFreqSetting"></ve-line>
                                        </div>
                                    </el-dialog>
                                </span>
                            </div>
                            <ve-line :data="cpuBoardData.cpuFreqData" :settings="cpuBoardData.cpuFreqSetting"></ve-line>
                        </el-card>
                        <el-card class="one-card cpu-board-freq">
                            <div class="card-title">
                                <span>CPU 时间</span> 
                                <span class="detail-info-buttons">
                                    <el-button type="text" size="mini" @click="showBigCpuTime" round>放大</el-button>
                                    <el-button type="text" size="mini" @click="showDetailCpuTimes" round>详细</el-button>
                                    <el-dialog title="CPU 时间" :visible.sync="bigShowCpuTime" class="big-board" width="90%" :before-close="closeBigCpuTime">
                                        <ve-line :data="cpuBoardData.cpuTimesData" :settings="cpuBoardData.cpuTimesSetting"></ve-line>
                                    </el-dialog>
                                    <el-dialog title="CPU 时间详情" :visible.sync="detailShowCpuTimes" class="big-board" width="90%" :before-close="closeDetailCpuTimes">
                                        <div class="cpu-times-detail" v-for="(item, index) in cpuBoardData.eveCpuTimesData">
                                            <h2>第 {{index + 1}} CPU</h2>
                                            <ve-line :data="cpuBoardData.eveCpuTimesData[index]" :settings="cpuBoardData.cpuTimesSetting"></ve-line>
                                        </div>
                                    </el-dialog>
                                </span>
                            </div>
                            <ve-line :data="cpuBoardData.cpuTimesData" :settings="cpuBoardData.cpuTimesSetting"></ve-line>
                        </el-card>
                    </div>
                    <div class="memboard" v-if="memBoardShow">
                        <el-card class="one-card vm-board-use-percent">
                            <div class="card-title">
                                <span>内存 使用率</span>
                                <span class="detail-info-buttons">
                                    <el-button type="text" size="mini"  @click="showBigCpuPersent"  round>放大</el-button>
                                    <el-button type="text" size="mini" @click="showDetailCpuPercent" round>详细</el-button>
                                    <!-- <el-dialog title="CPU 使用率" :visible.sync="bigShowCpuPercent" class="big-board" width="90%" :before-close="closeBigCpuPersent">
                                        <ve-line :data="cpuBoardData.cpuPercentData" :settings="cpuBoardData.cpuPrecentSetting"></ve-line>
                                    </el-dialog>
                                    <el-dialog title="CPU 使用率详情" :visible.sync="detailShowCpuPercent" class="big-boadr" width="90%" :before-close="closeDetailCpuPercent">
                                        <ve-line :data="cpuBoardData.eveCpuPercentData" :settings="cpuBoardData.eveCpuPercentSetting"></ve-line>
                                    </el-dialog> -->
                                </span>
                            </div>
                            <ve-line :data="memBoardData.vmPercentData" :settings="memBoardData.vmPrecentSetting"></ve-line>
                        </el-card>
                        <el-card class="one-card swap-board-use-percent">
                            <div class="card-title">
                                <span>交换空间 使用率</span>
                                <span class="detail-info-buttons">
                                    <el-button type="text" size="mini"  @click="showBigCpuPersent"  round>放大</el-button>
                                    <el-button type="text" size="mini" @click="showDetailCpuPercent" round>详细</el-button>
                                    <!-- <el-dialog title="CPU 使用率" :visible.sync="bigShowCpuPercent" class="big-board" width="90%" :before-close="closeBigCpuPersent">
                                        <ve-line :data="cpuBoardData.cpuPercentData" :settings="cpuBoardData.cpuPrecentSetting"></ve-line>
                                    </el-dialog>
                                    <el-dialog title="CPU 使用率详情" :visible.sync="detailShowCpuPercent" class="big-boadr" width="90%" :before-close="closeDetailCpuPercent">
                                        <ve-line :data="cpuBoardData.eveCpuPercentData" :settings="cpuBoardData.eveCpuPercentSetting"></ve-line>
                                    </el-dialog> -->
                                </span>
                            </div>
                            <ve-line :data="memBoardData.swapPercentData" :settings="memBoardData.swapPrecentSetting"></ve-line>
                        </el-card>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="//unpkg.com/echarts/dist/echarts.min.js"></script>
    <script src="//unpkg.com/v-charts/lib/index.min.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/index.js"></script>
</html>
